.chatbox-container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

.chat-header {
  position: relative;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'Roboto Slab', 'Verdana', 'sans-serif';
  border-bottom: 0.5px solid var(--gray);
  letter-spacing: 2px;
  font-weight: 900;
  text-align: center;
}

.chat-header .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1rem;
  cursor: pointer;
}

.chat-header .icon:hover {
  color: var(--danger);
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  overflow: scroll;
}

.message {
  background: var(--buttonBg);
  color: white;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message > span:nth-child(2) {
  font-size: 0.7rem;
  color: var(--textColor);
  align-self: end;
}

.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: linear-gradient(98.5deg, var(--gray) 0%, var(--primary) 100%);
}

.chat-sender {
  background: white;
  display: flex;
  justify-content: space-between;
  height: 3.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  align-self: end;
}
.chat-sender > input {
  height: 70%;
  background-color: rgb(236, 236, 236);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}
.chat-sender > div:nth-of-type(1) {
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.chat-sender > div {
  height: 70%;
  padding: 0px 15px 0px 15px;
}
