.spinner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner div {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-top-color: var(--primary);
  border-radius: 50%;
  animation: spinnerOne 1.5s linear infinite;
}

.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: var(--primary);
  animation: spinnerTwo 1.5s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
